* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/forest.jpg');
    background-size: cover;
    background-position: center;
}

.log-in {
    display: flex;
}

.container {
    text-transform: capitalize;
    text-align: center;
	width: 19rem;
	border-radius: 1rem;
	margin: auto;
	margin-top: 10rem;
	flex-direction: column;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 2rem black;

    > * {
        margin-top: 20px;
    }
}

.text {
    color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
}

.log-in-username {
	width: 100%;
	border-radius: 0.3rem;
	font-size: 1rem;
	border: 1px solid;
	padding: 1rem;
	height: 2rem;
}

.btn {
	width: 6rem;
	cursor: pointer;
	border-radius: 2rem;
	color: #019716;
	background-color: white;
	font-size: 1rem;
	border: none;
	padding: 0.5rem 0 0.5rem 0;
}

.btn:hover {
	opacity: 0.9;
}

.btn:active {
	opacity: 0.8;
}

.fields {
    display: none;
    height: 36rem;
    width: 36rem;
    flex-wrap: wrap;
}

.row {
    display: flex;
}

.field {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
}

.body {
    background-color: #32cd32;
}

img {
    object-fit: contain;
    max-width: 150%;
    max-height: 150%;
}

.right {
    transform: rotate(270deg);
}

.left {
    transform: rotate(90deg);
}

.up {
    transform: rotate(180deg);
}

.down {
    transform: rotate(360deg);
}

.table {
    color: white;
    font-size: 1.2rem;
    display: none;
    margin-left: 60rem;
    position: absolute;
    flex-direction: column;
    width: 20rem;

    > div  {
    	box-shadow: 0 0 2rem black;
        padding: 2rem;
        border-radius: 1rem;
        height: min-content;
        align-items: center;
        text-align: center;
    }
}

.high-score-table {
    margin-top: 3rem;
    flex-direction: column;
    justify-content: space-evenly;

    > p {
        height: 2rem;
        width: 100%;
    }
}

.restart {
    display: none;
}

@media screen and (max-width: 1300px) {
    #root {
        align-items: none;
        flex-direction: column;
        height: calc(100vh + 25rem);
    }

    .table {
        margin-left: 0;
        margin-top: 1rem;
        position: relative;
    }
    .fields {
        margin-top: 8rem;
    }

}
@media screen and (max-height: 600px), screen and (max-width: 600px) {
    .fields {
        width: 30rem;
        height: 30rem;
    }

    .field {
        height: 2.5rem;
        width: 2.5rem;
    }

}

@media screen and (max-height: 485px), screen and (max-width: 485px) {
    .fields {
        width: 18rem;
        height: 18rem;
    }

    .field {
        height: 1.5rem;
        width: 1.5rem;
    }

}